!!! 5
html
	head
		title= title
		
		link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
		link(href='/stylesheets/isotope.css', rel='stylesheet')

		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/notif.js')
		script(type='text/javascript', src='/js/isotope.js')
		script(type='text/javascript', src='/js/app.js')

		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#sidebar
			include partials/left
		.main
			.body
				block content
		div(class="notifications center")