!!! 5
html
	head
		title= title
		
		link(rel='stylesheet', href='app.css')
		link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
		link(href='/stylesheets/isotope.css', rel='stylesheet')

		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/isotope.js')
		script(type='text/javascript', src='/js/app.js')

		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#sidebar
			include partials/left
		.main
			.header
				div
					include partials/toolbar
			.body
				block content