form(method='post', enctype='multipart/form-data', action='/upload')
	input(type='text', name='username') username
	input(type='password', name='password') password
	input(type='file', name='thumbnail') thumbnail
	input(type='submit')
